<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST">
        <span>username: </span>
        <input type="text" name="username"><br>
        <span>password: </span>
        <input type="text" name="password"><br>
        <button type="submit">Login</button>
    </form>
    <a href="/register">Register User</a>
    <a href="/view-user">View All User</a>
</body>
</html>